<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfDataBinding.Properties.Settings.kpxlocal" connectionString="Dsn=kpx_data;uid=vitenergy;pwd=vit001"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>